@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    position: relative;
    transition: all 0.5s;
  }
  .btn:active {
    scale: 0.9;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .roboto{
    font-family: 'Roboto Serif', serif;
  }
}
