@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,900&display=swap');

body {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

/* swiper */
.swiper {
  overflow: unset !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -28px !important;
}

.swiper-pagination {
  text-align: left !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

/* accessebility */

.accessibility {
  position: relative;
  z-index: 2;
  width: unset !important;
}
.tools {
  position: absolute !important;

  top: 120% !important;

 
  display: none;
}

.accessibility:hover .tools {
  display: block;
}

h1,h2,h3{
  letter-spacing: -1px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    position: relative;
    transition: all 0.5s;
    letter-spacing: -1px;
  }
  .btn:active {
    scale: 0.96;
  }

  .montserrat {
    font-family: "Montserrat", sans-serif;
  }
  .roboto {
    font-family: "Roboto Serif", serif;
  }
  .Inter {
    font-family: "Inter", sans-serif;
  }
  .Sans{
    font-family: "Expletus Sans", sans-serif;
  }
  .box-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .box-shadow-2 {
    box-shadow: -5px 11px 20px 0px rgba(0, 0, 0, 0.25);
  }
  .bar {
    position: relative;
  }
  .bar::after {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 76%;
    background-color: black;
    top: 0;
    left: 12%;
  }
  .Transition {
    transition: all 0.5s;
  }
  /* .connect{
    background-image: url('./Images/connect.png');
    background-repeat: no-repeat;
    background-size: cover;

  } */
}

.ant-drawer .ant-drawer-header-title {
  flex-direction: row-reverse !important;
}
.ant-drawer .ant-drawer-header{
  border-bottom: none;
}

.product .ant-drawer-content-wrapper{
  height:auto;
}
.filter .ant-drawer .ant-drawer-body{
  padding: 0;
  position: relative;

}
.brand[type="checkbox"]::after{
  content: "";
  display: inline-block;
  width: 0.34em; 
  height: 0.7em; 
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg); 
  position: absolute;
  top: 10%; 
  left: 35%;
  transform-origin: center; 
  opacity: 0;
}

.brand[type="checkbox"]:checked::after {
  opacity: 1;
}



.gradient{
  background: linear-gradient(114.91deg, #7C1996 34.14%, rgba(120, 19, 147, 0) 71.06%),
linear-gradient(262.06deg, rgba(255, 93, 0, 0.3) 39.24%, rgba(255, 96, 4, 0) 74.13%);

}